@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
}

.big-text{
    font-size: 80px;
}

.middle-text{
    font-size: 50px;
}

.big-bottom{
    margin-bottom: 3rem;
}

.big-margin{
    margin-top: 100px;
}

.text-gray{
    color: #5d5d5d;
}

.filter-img{
    filter: brightness(50%);
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: slategray;
}

.explore-bg{
    background-color: #F4FAFD;
}

.marginLeft{
    margin-left: -30px;
}

.paddingTop{
    padding-top: 1rem;
}


/* Form Modal */
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }