@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
}

.big-text{
    font-size: 80px;
}

.middle-text{
    font-size: 50px;
}

.big-bottom{
    margin-bottom: 3rem;
}

.big-margin{
    margin-top: 100px;
}

.text-gray{
    color: #5d5d5d;
}

.filter-img{
    filter: brightness(50%);
}